.landingPageContainer{
    background:#020617;
    color:white;
    min-height:100vh;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 40px;
    flex-wrap:wrap;
    gap:20px;
}
nav h2 span{
    color:#7c3aed;
}
.loginBtn{
    background:#7c3aed;
    color:white;
    text-decoration:none;
    padding:12px 28px;
    border-radius:12px;
    font-weight:500;
    transition:0.3s;
}

.loginBtn:hover{
    background:#6d28d9;
}

.heroSection{
    text-align: center;
    padding: 80px 20px 40px;
    max-width: 1200px;
    margin: auto;
}

.heroSection h1{
    font-size:5rem;
    line-height:1.1;
}

.heroSection span{
    color:#7c3aed;
}

.heroSection p{
    margin-top:30px;
    color:#bdbdbd;
    font-size:1.2rem;
}

.heroButtons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.primaryBtn,
.secondaryBtn{
    padding:15px 35px;
    border-radius:12px;
    text-decoration:none;
    font-size:1rem;
}

.primaryBtn{
    background:#7c3aed;
    color:white;
}

.secondaryBtn{
    background:transparent;
    border:1px solid #334155;
    color:white;
}

.imageSection{
    display:flex;
    justify-content:center;
    padding:50px;
}

.imageSection img{
    width:85%;
    border-radius:25px;
    box-shadow:0 0 40px rgba(124,58,237,.3);
}

.featureSection{
    padding:100px 80px;
}

.featureSection h2{
    text-align:center;
    margin-bottom:60px;
    font-size:3rem;
}

.featureGrid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:#111827;
    padding:40px;
    border-radius:20px;
}

.card p{
    color:#bdbdbd;
    margin-top:15px;
}

footer{
    text-align:center;
    padding:80px;
    border-top:1px solid #1e293b;
}

footer span{
    color:#7c3aed;
}
@media(max-width:768px){

    nav{
        flex-direction:column;
        padding:20px;
        gap:20px;
    }
}
@media(max-width:768px){

    .heroSection{
        padding:20px 20px;
    }

    .heroSection h1{
        font-size:2.3rem;
    }

    .heroSection p{
        font-size:1rem;
    }

}
@media(max-width:768px){

    .imageSection{
        padding:20px;
    }

    .imageSection img{
        width:100%;
    }

}
@media(max-width:900px){

    .featureGrid{
        grid-template-columns:repeat(2,1fr);
    }

}
@media(max-width:768px){

    .featureSection{
        padding:60px 20px;
    }

    .featureSection h2{
        font-size:2rem;
    }

    .featureGrid{
        grid-template-columns:1fr;
    }

}
@media(max-width:768px){

    footer{
        padding:40px 20px;
    }

}